body {
  margin: 0px;
}

.wrap-container {
  width: 100vw;
  min-width: 1024px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #fafafa;
  height: 60px;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.header-container {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  height: 60px;
}

.logo {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 70%;
}

.nav {
  flex: 11;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px 20px;
}

.nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  flex: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-input {
  width: 70%;
  height: 60%;
  background-color: #f2f3f6;
  border: none;
  border-radius: 2px;
  padding: 0px 10px;
  margin-right: 10px;
}

#chat-btn {
  width: 20%;
  height: 60%;
  color: #212124;
  background-color: transparent;
  border: 1px solid #d1d3d8;
  border-radius: 2px;
}

.main-container {
  width: 100%;
  height: 760px;
  display: flex;
  justify-content: center;
}

.main-content {
  width: 1024px;
  border: 1px solid rgb(211, 211, 211);
  display: flex;
  flex-direction: row;
}

#body-3 {
  justify-content: space-between;
  align-items: center;
}

#introduce-1 {
  background-color: #fbf7f2;
}

#introduce-3 {
  background-color: #e6f3e6;
}

#item-list {
  background-color: #f8f9fa;
  height: 900px;
}

footer {
  height: 800px;
}

#body-3 .image-container .background-image {
  width: 526px;
  height: 735px;
}

#body-3 .home-story-list {
  display: flex;
  flex-direction: row;
}

#body-3 ul {
  list-style: none;
  padding-left: 0px;
}

#body-3 .item-icon {
  margin: 30px 10px 0px 0px;
}

#body-3 .item-title {
  margin: 15px 0px;
  font-weight: bold;
}

#body-3 .item-text {
  margin: 15px 15px 15px 0px;
}
